
html {
  font-family: sans-serif;
  color: #333;
}
body {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 15px;
}
div div,
div article {
  padding: 10px;
  margin: 5px;
  border: 1px solid #dedede;
}

table {
    table-layout: fixed;
    width: 1000px;
    text-align: center;


}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}