
html {
  font-family: sans-serif;
  color: #333;
}
body {
  max-width: 500px;
  margin: 25 auto;
  padding: 0 50px;
}
h1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 150, 125);
    color: white;
    text-align: center;
    margin-top: 0;
}

table {
    table-layout: auto;
    width: 1100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 150, 125);
  color: white;
  text-align: center;
}

textarea {

  width: 1100px;
}